@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
    --dark-blue: #0279bb;
    --light-blue: #62a1d4;
    --dark-yellow: #facc43;
    --light-yellow: #fcf507;
    --red: #d7271a;
    --dark-indigo: #5952b2;
    --light-indigo: #8e95cb;
    --bg-color: #f6f9ff;
    --text-color: #45545b;
    --carousel-min-height: 200px;
    --carousel-max-height: 300px;
}

body {
    font-family: "Nunito", sans-serif;
    background: var(--bg-color);
}

/* utils */
.img-responsive {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.btn-blue {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--dark-blue);
    --bs-btn-border-color: var(--dark-blue);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--light-blue);
}

.bg-dark-blue {
    background-color: var(--dark-blue);
}

/* navbar */
.navbar-nav .nav-link {
    color: var(--text-color);
}

.navbar-nav .nav-link.active {
    color: var(--dark-blue);
}

.navbar-nav .nav-link:hover {
    color: var(--dark-blue);
}

.navbar .profile-toogle::after {
    content: none;
}

/* main */
#main-content {
    margin-top: 3.5rem;
    min-height: calc(100vh - 113px);
}

/* corousel */
.carousel-inner {
    min-height: var(--carousel-min-height);
    max-height: var(--carousel-max-height);
}

.carousel-item img {
    min-height: var(--carousel-min-height);
    max-height: var(--carousel-max-height);
    object-fit: cover;
    object-position: center;
    background-color: rgb(134, 142, 150);
}

/* Campaign */
.link-campaign {
    color: var(--text-color);
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 48px;
}

.link-campaign:hover {
    color: var(--text-color);
}
